<!DOCTYPE html>
<html style="height: 100%; background: linear-gradient(rgba(255,101,128,1) 0%, rgba(157,101,255,1) 67%, rgba(0,194,255,1) 100%)">
    <head>
        <meta charset="UTF-8">
        <title>Имя: {{ name }}</title>
    </head>
    <body style="font-size: 24px">
        <h1 style="text-align: center; color: white; text-weight: bold">Коты с именем {{ name }}</h1>
        <div style="display: flex; justify-content: center">
            <table style="border: solid 2px white; border-radius: 10px; text-align: center; color: white; padding: 5px">
                <tr>
                    {% for header in headers %}
                    <th style="border: solid 2px white; border-radius: 10px">{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in rows %}
                <tr>
                    {% for data in row %}
                    <td style="border: solid 2px white; border-radius: 10px">{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>