<!DOCTYPE html>
{%- if town == 'Москва' %}
<html style="
background-image: url(https://img3.akspic.ru/originals/6/4/8/0/90846-moskva-gorodskoj_pejzazh-gorod-liniya_gorizonta-stolica-1920x1080.jpg)"> {% endif %}
{%- if town == 'Прага' %}
<html style="
background-image: url(https://img2.goodfon.ru/wallpaper/nbig/4/3d/karlov-most-karluv-most-praga.jpg)"> {% endif %}
{%- if town == 'Лондон' %}
<html style="
background-image: url(https://img3.goodfon.ru/wallpaper/nbig/4/c9/london-ulica-vecher.jpg)"> {% endif %}
{%- if town == 'Канберра' %}
<html style="
background-image: url(https://wallpapershome.ru/images/wallpapers/operniy-teatr-1920x1080-sidney-avstraliya-turizm-puteshestvie-5050.jpg)"> {% endif %}
{%- if town == 'Стокгольм' %}
<html style="
background-image: url(https://s1.1zoom.me/big0/202/417309-svetik.jpg)"> {% endif %}
    <head>
        <meta charset="UTF-8">
        <title>Погода: {{ town }}</title>
    </head>
    <body style="font-size: 28px">
        <h1 style="text-align: center; -webkit-text-stroke: 1px black; color: white; text-weight: bold">Погода в городе {{ town }}</h1>
        <div style="display: flex; justify-content: center">
            <table style="background: #ffffff5c; border: solid 2px white; border-radius: 10px; font-weight: bold; text-align: center; text-shadow: 2px 2px 3px black; color: white; padding: 5px">
                <tr>
                    {% for header in headers -%}
                    <th style="border: solid 2px white; border-radius: 10px">{{ header }}</th>
                    {% endfor -%}
                </tr>
                {% for row in rows -%}
                <tr>
                    {% for data in row -%}
                    <td style="border: solid 2px white; border-radius: 10px">{{ data }}</td>
                    {% endfor -%}
                </tr>
                {% endfor -%}
            </table>
        </div>
    </body>
</html>